@import url('font-awesome.css');

p {
	color:#aaa;
	font-size:13px;
}


.btn {
	border-radius:0;

}

.btn:hover {
	background-color: #fff;
	border-color:#f2f2f2;
	color:#272727;
}

/*===========================
   Navigation
============================ */
.navbar-brand {
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
	visibility: hidden;
	display: none;
}

.navbar-brand h1 {
	margin-top:9px;
	padding-top:5px;
	float: left;
	font-size: 25px;
	color:#fff;
	text-transform:uppercase;
	font-weight:400;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding: 0 0 0 15px;
			visibility: visible;
			display: block;
  }
}

.menu {
	font-size:15px;
	margin-left: 5%;
	text-transform:uppercase;
	font-weight:600;
}


.menu ul.nav-tabs li {
	color:#fff;
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li > a {
	border-radius:0;
	color:#fff;
	padding:30px 13px 30px 13px;
}
.nav-tabs > li.dropdown {
	border-radius:0;
	color:#fff;
	padding:30px 13px 30px 13px;
}

.nav-tabs > li > a:hover {
	color:white;
	background:rgb(151,0,0);
	border: 1px solid rgb(151,0,0);
}
.nav-tabs > li:hover {
	color:white;
	background:rgb(151,0,0);
	border: 1px solid rgb(151,0,0);
}

/* Gradient Yaha daalne he */

.navbar-default {
	background-color: rgb(39,39,52);
	border-color:rgb(39,39,52);
}

/*===========================
PIC
============================ */
#pic {
	position: relative;
	background: url("../pic.png");
	min-height: 420px;
	top: -1.5em;;
  left: 0;
}

/* Header */
.header{
    margin-top: -2rem;
    padding:5rem;
    padding-top: 7rem;
    background-image: url(https://cdn-web.brompton.com/~/media/Images/Core-Site-Content/Factory-Shots/Brompton-Factory003.jpg);
}

.primary-heading{
    margin-top: 4rem;
    font-size: 3rem;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.primary-main{
    text-align: center;
    color: #fff;
    background-color:#A40A3C;
    font-size: 1.5rem;
    font-weight: 500;
}

.primary-sub{
    text-align: center;
    color: #fff;
    background-color:yellow;
    font-size: 1.5rem;
    font-weight: 600;
}

.heading-right{
    margin-top: -2.3rem;
}

.heading-left{
    margin-top:3rem;
}

.logo-box{
    margin-left:10rem;
}

/* Youtube Videos */
.v1 {
	width: 65%;
	height: 20px;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
margin-left: 15%;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 65%;
}


/*.left-head {
	float: left;
	overflow: auto;
	color: white;
}
*/
.right-head {
	float: right;
}
.main-logo {
  height: auto;
  /*max-width: 100%;
  max-height: 100%;*/
  max-width: 300px;
	max-height: 300px;
}

/*===========================
  Footer
============================ */
footer {
	padding:50px;
	background:rgb(46,53,68);
	height: 75%;
}

footer .container {
	padding: 30px 150px;
}

footer p,li {
	color:grey;
}

footer h4,h1{
	/* margin-bottom:30px;
	margin-top: 30px; */
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:white;
}

.footer-info {
	margin-top: 15px;
}

.footer-info ul {
	list-style:none;
	padding-left: 0;

}

.footer-info ul li {
	font-size: 1.2em;
	margin-bottom:15px;
}

footer .contact {
	text-align: right;
}

footer .contact i {
	margin-top: 20px;
	padding-left: 20px;
	font-size: 16px;
	color: white;
}

.sub-header {
	background-color: rgb(65,70,76);
	padding: 10px;
}
